<app-header></app-header>
<main>
  <section class="hero">
    <div class="container">
      <p-toast></p-toast>
      <div class="hero-banner">
        <h1>Bem-vindo à Growth Supplements</h1>
        <p>Encontre os melhores suplementos para o seu crescimento muscular.</p>
        <button pButton type="button" label="Comprar Agora" icon="pi pi-shopping-cart" class="p-button-raised p-button-primary" routerLink="/products"></button>
      </div>
    </div>
  </section>

  <section class="products">
    <div class="container">
      <div class="product-grid">
        <div *ngFor="let product of products" class="product-item">
          <div class="product-image">
            <img *ngIf="product.image" [src]="product.image" [alt]="product.name">
            <img *ngIf="!product.image" src="assets/default-image.png" [alt]="product.name">
          </div>
          <div class="product-details">
            <h3>{{ product.name }}</h3>
            <!-- Exibe a descrição se disponível -->
            <p *ngIf="product.description">{{ product.description }}</p>
            <p class="product-price" *ngIf="product.price">{{ product.price | currency:'BRL' }}</p>
            <button pButton type="button" label="Adicionar ao Carrinho" icon="pi pi-plus" class="p-button-success" (click)="addToCart(product)"></button>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer></app-footer>
