@import "../../../styles.scss";

:host ::ng-deep {
  .p-toolbar {
    background: #101824; // Cor principal do fundo
    color: $text-color-light;
    border-radius: 0; // Remover o arredondamento para combinar com a barra da imagem
    box-shadow: none; // Remover sombra para um visual mais plano como na imagem
    padding: 10px;
    transition: none; // Remover transição para manter o estilo estático

    .p-toolbar-group-left,
    .p-toolbar-group-right {
      display: flex;
      align-items: center;

      .p-button {
        margin: 0 10px;
        border: none; // Remover bordas para um visual mais plano
        background-color: transparent; // Fundo transparente
        color: #fff; // Texto branco
        font-weight: bold;

        &:hover {
          background-color: #2c3e50; // Um escuro sutil ao passar o mouse
          box-shadow: none; // Sem sombra ao passar o mouse
          transform: none; // Sem transformação ao passar o mouse
        }
      }
    }

    .p-toolbar-group-right {
      justify-content: flex-end;

      .p-button-warning {
        background-color: #c51b1b; // Cor dos botões destacados
        color: #fff; // Texto branco para contraste

        &:hover {
          background-color: #da6868; // Um vermelho mais claro ao passar o mouse
        }
      }

      .p-badge {
        &.p-badge-danger {
          background-color: #e74c3c; // Um vermelho para badges de perigo
          border-radius: 50%;
          box-shadow: none; // Remover sombra para consistência
        }
      }
    }
  }
}
