
$primary-color: #0e031d; // Material Design Blue
$secondary-color: #ff0062; // Material Design Deep Orange
$text-color: #333333; // Dark Gray
$bg-color: #f5f5f5; // Light Gray

// Estilos globais
::ng-deep {
  body {
    font-family: 'Roboto', sans-serif;
    color: $text-color;
    background-color: $bg-color;
  }
}
